node_modules
dist

# Windows Application Files
electron/
release/
*.ps1

# Build outputs
dist-electron/

# Environment Variables
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
